---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ThemeController from '../components/ThemeController.astro';
import Avatar from '../components/Avatar.astro';
import Home from '../components/Home.astro';
import Projetos from '../components/Projetos.astro';
import Contatos from '../components/Contatos.astro';
---

<Layout title="Portfolio Pessoal.">

	<html lang="pt-br" data-theme="lofi">
	<main>
	
	
	<Home/>
	</main>
	</html>

	<Projetos/>

	<Contatos/>

</Layout>



<style>

</style>
