---

import perfil from '../foto/perfil.png';
const image = perfil;

---

<div class="avatar">
    <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src={perfil.src}  />
    </div>
  </div>