---
interface Props {
	title: string;
	body: string;
	image: string;
}

const { image, title, body } = Astro.props;
---

<div class="card bg-base-300 w-64 shadow-xl">
	<figure class="px-10 pt-10 ">
	  <img class="h-20"
		src={image}
		alt="Shoes"
		class="rounded-xl" />
	</figure>
	<div class="card-body items-center text-center">
	  <h2 class="card-title">{title}</h2>
	  <p class="text-justify">{body}</p>
	  <div class="card-actions">
		<button class="btn btn-primary">Acessar Projeto</button>
	  </div>
	</div>
  </div>
