---
import Avatar from "./Avatar.astro";
import ThemeController from "./ThemeController.astro";
import Menu from "./Menu.astro";

---


<div class="hero bg-base-200 min-h-screen " >

    <div class="hero-content text-center">

        
      <div class="max-w-md">
        <div class="m-2"><Avatar/><ThemeController/>

        </div>
        <p class="py-6">Olá meu nome é Mateus Lopes, sou</p>
        <h1 class="text-5xl font-bold">Desenvolvedor Web</h1>
        <p class="py-6">
            Explore meu trabalho como programador júnior e descubra como posso contribuir para o sucesso do seu projeto..
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>