---
import Card from "./Card.astro";


---

<section class='min-h-screen'>

    <div class="text-center mt-10">
        <h1 class="text-4xl font-bold mb-10">Projetos</h1>
        
    </div>
    <h2 class="text-center font-semibold ">Acompanhe meus projetos e jornada na programação: </h2>


    <div class="flex justify-center p-20">


    <div class="flex flex-wrap m-5 gap-5">

    <Card  image="https://github.com/felipelopesreis/SistemaOSFront/blob/master/src/assets/login-app.png?raw=true" title='Sistema de Ordem de Serviço ' body='Projeto de uma aplicação para controle de Ordem de serviço em provedores de internet.' />
	<Card  image="https://img.freepik.com/vetores-premium/falha-no-icone-de-perfil-de-usuario-de-midia-social_97886-10045.jpg?w=360" title='Localizador de Perfis GitHub ' body='Uma aplicação para localizar perfis de GitHub através da sua Api.' />
	<Card  image="https://www.maozinhanacozinha.com.br/wp-content/uploads/2020/04/Lista-compras-400x280.jpg" title='Projeto Lista de Compras' body='Projeto lista de compras utilizando blibliotecas tailwind e daisyui.' />
    <Card  image="https://occ-0-8407-2219.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABf_vkYSzY2EsbRFAOJOS3_ZdreU4YoqzdzVZf-f1CEP9ndmI3705aHteXy3ZD7tLH4YbavoJT3lPK9luZDLgQxhQOBw1tLuBzxFG.jpg?r=b99" title='Pokedex' body='Aplicação mostra as características dos personages utilizando a Api do pokemon.' />

    <button class="size-10"><img src="https://cdn-icons-png.flaticon.com/512/4028/4028647.png"/></button>

    </div>


</div>


<h2 class="text-center font-semibold ">Algumas tecnologias utilizados em meus projetos: </h2>
<div class="flex justify-center m-5 gap-5">
    <img class="size-12" src="https://cdn1.iconfinder.com/data/icons/programing-development-8/24/react_logo-512.png"/>
    <img class="size-12" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"/>
    <img class="size-10" src="https://static-00.iconduck.com/assets.00/spring-icon-256x256-2efvkvky.png"/>
    <img class="size-12" src="https://miro.medium.com/v2/resize:fit:400/0*v8Ot7LRl6TSDXtBR.png"/>
</div>


</section>