---
import Card from "./Card.astro";


---

<section class='min-h-screen'>

    <div class="text-center mt-10">
        <h1 class="text-4xl font-bold">Projetos</h1>
    </div>


    <div class="hero-content text-center">


    <div class="flex flex-wrap m-5 gap-5">

    <Card  image="https://github.com/felipelopesreis/SistemaOSFront/blob/master/src/assets/login-app.png?raw=true" title='Sistema de Ordem de Serviço ' body='Projeto de uma aplicação para controle de Ordem de serviço em provedores de internet.' />
	<Card  image="https://img.freepik.com/vetores-premium/falha-no-icone-de-perfil-de-usuario-de-midia-social_97886-10045.jpg?w=360" title='Localizador de Perfis GitHub ' body='Uma aplicação para localizar perfis de GitHub através da sua Api.' />
	<Card  image="https://www.maozinhanacozinha.com.br/wp-content/uploads/2020/04/Lista-compras-400x280.jpg" title='Projeto Lista de Compras' body='Projeto lista de compras utilizando blibliotecas tailwind e daisyui.' />
    <Card  image="https://occ-0-8407-2219.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABf_vkYSzY2EsbRFAOJOS3_ZdreU4YoqzdzVZf-f1CEP9ndmI3705aHteXy3ZD7tLH4YbavoJT3lPK9luZDLgQxhQOBw1tLuBzxFG.jpg?r=b99" title='Pokedex' body='Aplicação mostra as características dos personages utilizando a Api do pokemon.' />

    </div>
</div>
</section>