
---
import perfil from '../foto/perfil.png';
const image = perfil;
---

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img
      src={perfil.src}
        class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold">Sobre Mim</h1>
        <p class="text-justify py-6">
            Olá! Sou Mateus Lopes, estudante do curso de Análise e Desenvolvimento de Sistemas no IFMS. Com um profundo interesse por tecnologia e inovação, estou constantemente explorando novas ferramentas e técnicas para aprimorar minhas habilidades. Durante minha jornada acadêmica, desenvolvi projetos que abrangem desde o design de interfaces até a implementação de sistemas complexos.
            Meu objetivo é utilizar minha formação para criar soluções eficazes e eficientes que atendam às necessidades reais dos usuários. Estou sempre em busca de desafios que me permitam crescer profissionalmente e contribuir para o avanço da tecnologia.
            Confira meus projetos e entre em contato para saber mais sobre como posso colaborar com suas ideias e necessidades.
        </p>
        <button class="btn btn-primary">Ver mais</button>
      </div>
    </div>
  </div>